<% if admin_signed_in? %>

<h1>Admin</h1>

  <% if @places == []%>

  There are no locations yet.
  
  <% else %>

<table> 
  <tr>
    <th colspan="4">Confirmed Places</th>
  </tr>
    <% @places.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    <td><%= link_to 'Edit', edit_place_path(place)%></td>
    <td><%= link_to 'Delete', place, :confirm => 'Are you sure?', :method => :delete%></td>
  </tr>
  
    <% end %>
  
</table>  

  <% end %>


  <% if @suggested == []%>

  There are no suggested locations.
  
  <% else %>

<table> 
  <tr>
    <th colspan="4">Suggested Places</th>
  </tr>
    <% @suggested.each do |place| %>
  <tr>
    <td><%= place.name %></td>
    
    <td><%= link_to 'Edit', edit_place_path(place)%></td>
    <td><%= link_to 'Delete', place, :confirm => 'Are you sure?', :method => :delete%></td>
  </tr>
  
    <% end %>
    
</table>  

  <% end %>

<% end %>


<% title = admin_signed_in? ? "Add New Place" : "Suggest a place" %>
<%= link_to title, new_place_path %>

  
  </div>  
 
 
 <%= form_for @place, :url => { :action => :create }, :remote => true do |p| %>
<%= render :partial => 'form',  :locals => { :p => p } %>
<% end %>
 
<span id="flash"></span>  
<div id="user_nav">
  <% if not admin_signed_in? %>
    <%= link_to "Admin Sign In", new_admin_session_path %>
  <% else %>
    Signed in as <%= current_admin.email %>. Not you?
    <%= link_to "Sign out", destroy_admin_session_path %>
  <% end %>
</div>




<%= form_tag(search_places_path, :remote => true, :method => :get) do%>
  <%= text_field_tag 'location_name' %>
  <%= submit_tag 'Search' %>
 <% end %>
